<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Identification
    </ui:define>
    <ui:define name="content">
        <h:form id="loginForm">

            <h:panelGroup rendered="#{empty loginBean.typePersonneForm and loginBean.typePersonneForm!='ADM'}"> 
                <h1><h:outputText id="WelcomePageTittle" value="#{messages.label_welcome}"/>
                </h1>
                <p>#{messages.label_pleaseIdentify}</p>

                <table>
                    <tr>
                        <td><h:outputLabel id="loginLabel" value="#{messages.label_login}"/></td>
                        <td> <h:inputText 
                                id="loginInputText" 
                                value="#{loginBean.loginForm}" 
                                required="true" 
                                requiredMessage="#{messages.required_value_error}" />
                            <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                        </td>
                    </tr>
                    <tr>
                        <td><h:outputLabel id="passwordLabel" value="#{messages.label_password}" /></td>
                        <td><h:inputSecret 
                                id="passwordInputText" 
                                value="#{loginBean.passwordForm}" 
                                required="true" 
                                requiredMessage="#{messages.required_value_error}" /> 

                            <h:message for="loginForm:passwordInputText" errorClass="text-error"/>
                            <h:inputHidden id="personneRetourOKForm" value="#{loginBean.personneRetourOKForm}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>&#160;</td>
                        <td>
                            <br/><br/><h:commandButton id="validerButton" value="#{messages.label_validate}" action="#{loginBean.checkLogin()}"/><br/><br/><br/><br/>
                        </td>
                    </tr>
                </table>
            </h:panelGroup>            
            <h:panelGroup rendered="#{!empty loginBean.typePersonneForm and loginBean.typePersonneForm=='ADM'}"> 

                <table>
                    <tr>
                        <td><h1><h:outputText id="WelcomeUser" value="#{messages.label_welcomeUser}"/></h1></td>                    
                    </tr>
                    <tr>
                        <td><h:outputLabel id="ChoixLabel" value="#{messages.label_choice}" /><br/></td>

                    </tr>
                </table>
                <h:outputLink id="lst_Adm" value="${facesContext.externalContext.requestContextPath}/pages/listePersonnes.jsf">
                    <f:param value="ADM" name="Type" />
                    <h:outputText value="#{messages.label_listAdministrator}" />
                </h:outputLink>    <br/><br/>
                
                <h:outputLink id="lst_Etu" value="${facesContext.externalContext.requestContextPath}/pages/listePersonnes.jsf">
                    <f:param value="ETU" name="Type" />
                    <h:outputText value="#{messages.label_listStudents}" />
                </h:outputLink>    <br/><br/>                
                
                <h:outputLink id="lst_Ens" value="${facesContext.externalContext.requestContextPath}/pages/listePersonnes.jsf">
                    <f:param value="ENS" name="Type" />
                    <h:outputText value="#{messages.label_listTeacher}" />
                </h:outputLink><br/><br/>
                
                <h:commandLink id="creat_personne" value="#{messages.label_createPerson}" action="/pages/formulaireCreation"/><br/><br/><br/><br/><br/>

            </h:panelGroup>  
            <h:panelGroup rendered="#{!empty loginBean.typePersonneForm and loginBean.typePersonneForm=='ENS'}"> 

                <table>
                    <tr>
                        <td><h1><h:outputText id="WelcomeENS" value="#{messages.label_welcomeUser}"/></h1></td>                    
                    </tr>
                    <tr>
                        <td><h:outputLabel id="ChoixLabelENS" value="#{messages.label_choice}" /><br/></td>

                    </tr>
                </table>
     
                
                <h:commandLink id="lst_EtuENS" value="#{messages.label_listStudents}" action="/pages/listePersonnes">
                    <f:param value="ETU" name="Type" />
                </h:commandLink>    <br/><br/>
                
                <h:commandLink id="abs_etu" value="Liste des absences" action="/pages/listAbs"/><br/><br/><br/><br/><br/>

            </h:panelGroup> 
            <h:commandLink action="#{loginBean.doDisconnect()}">
                Se déconnecter
            </h:commandLink>
        </h:form>

        <script>
            var passwordForm = document.getElementById("loginForm:passwordInputText");
            var loginInputText = document.getElementById("loginForm:loginInputText");
            document.getElementById("loginForm:personneRetourOKForm").value="";
            
            loginInputText.focus();
            loginInputText.onblur = function (){
                var valeurPassword = "" + passwordForm.value;
                
                if (valeurPassword!=""){
                    var val=document.getElementById("loginForm:passwordInputText").value;
                document.getElementById("loginForm:personneRetourOKForm").value=hex_sha1(hex_md5(val));
                }
            }
            
            passwordForm.onblur = function (){
                var val=document.getElementById("loginForm:passwordInputText").value;
                document.getElementById("loginForm:personneRetourOKForm").value=hex_sha1(hex_md5(val));
            }
        </script>
    </ui:define>
</ui:composition>