<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <head>
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/themes/bootstrap/js/md5.js"></script>
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/themes/bootstrap/js/sha1.js"></script>
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/themes/bootstrap/js/Pandas.js"></script>
        <f:loadBundle basename="messages.Messages" var="messages" /> 

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

        <title><ui:insert name="title">##Please specify title !##</ui:insert></title>
        <style type="text/css" title="currentStyle" media="screen">
            @import url('${facesContext.externalContext.requestContextPath}/themes/bootstrap/css/bootstrap.min.css')
        </style>
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
            .table td.money {
                text-align: right;
            }
            .col1 { width: 50px; }
            .col2 { width: 100px; }
            .col3 { width: 100px; }
            .col4 { width: 100px; }
            .col5 { width: 200px; }
            .col6 { width: 50px; }
            .col7 { width: 50px; }
            .iceSelOneRb table td{padding: 10px;}
        </style>        
    </head>
    <body>
        <div id="navbarBankonet" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#"><h:outputText value="#{messages['application.title']}" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="${facesContext.externalContext.requestContextPath}/index.jsf">Home</a></li>
                            <ui:fragment rendered="">
                                <li class="active"><h:outputText value="#{messages['navbarBankonet.helloUser']}" />
                                    #{loginBean.loginForm}
                                    <h:form styleClass=".form-search"><h:commandLink id="disconnectLink" value="Se déconnecter" /></h:form></li>
                            </ui:fragment>                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>        
        <div class="container">

            <ui:insert name="content">
                ##Missing content###
            </ui:insert>
            <ui:insert name="footer">
                ##Missing footer##
            </ui:insert>
        </div>
    </body>
</html>

