<ui:composition template="../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Detail Etudiant
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="etudiantTitle" value="Detail Etudiant"/>
        </h2>

        <h:form id="etudiantForm" rendered="#{!empty loginBean.loginForm}">

            <h:dataTable
                id="etudiant" 
                var="etudiant" 
                value="#{etudiantsBean.etudiantBB(loginBean.loginForm)}" 
                styleClass="table table-striped table-bordered"
                columnClasses="none,none,none,none">
                <tr>
                    <td>
                     <h:outputText id="labelEtudiantNom" value="Nom Etudiant"/> 
                     <h:inputText id="etudiantNom" value="#{etudiant.nomForm}"/>
                    </td>
                </tr>
            </h:dataTable>
        </h:form>
    </ui:define>
    <ui:define name="footer">
        Copyright Pandas
    </ui:define>    
</ui:composition>    