<ui:composition template="../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Detail Etudiant
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="CreatPersonneTitle" value="Creation de personne"/>
        </h2>
        <h:panelGroup id="CreeaOK" rendered="#{!empty personneBean.personneRetourOKForm}">

            <h:outputText id="CreatOKTitle" value="Creation de personne Réussie..."/>

        </h:panelGroup>
        <h:form id="CreatPersonneForm">

            <h:selectOneRadio id="typePers" value="#{personneBean.typePersonneForm}" styleClass=".iceSelOneRb table td" required="true" 
                              requiredMessage="#{messages.required_value_error}" > 

                <f:selectItem id="Type1" itemLabel="Administrateur" itemValue="ADM" />
                <f:selectItem id="Type2" itemLabel="Enseignant" itemValue="ENS" />
                <f:selectItem id="Type3" itemLabel="Etudiant" itemValue="ETU" />

            </h:selectOneRadio> 
            <h:message for="CreatPersonneForm:typePers" errorClass="text-error"/>
            <table>                
                <tr>
                    <td>
                        <h:outputText id="labelPersonneNom" value="Nom"/> 
                    </td>
                    <td>
                        <h:inputText id="PersonneNom" value="#{personneBean.nomForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:PersonneNom" errorClass="text-error"/>
                    </td>
                    <td></td>
                    <td>
                        <h:outputText id="labelPersonnePrenom" value="Prénom"/> 
                    </td>
                    <td>
                        <h:inputText id="personnePrenom" value="#{personneBean.prenomForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personnePrenom" errorClass="text-error"/>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h:outputText id="labelPersonneEmail" value="Email"/> 
                    </td>
                    <td>
                        <h:inputText id="personneEmail" value="#{personneBean.emailForm}"/>
                    </td>
                    <td></td>
                    <!--                    <td>
                                            <h:outputText id="labelPersonnePhoto" value="Photo"/> 
                                        </td>
                                        <td>
                                            <h:inputText id="personnePhoto" value="#{personneBean.photoForm}"/>
                                        </td>-->
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h:outputText id="labelPersonneRue" value="rue"/> 
                    </td>
                    <td>
                        <h:inputText id="PersonneRue" value="#{personneBean.rueForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:PersonneRue" errorClass="text-error"/>
                    </td>
                    <td></td>
                    <td>
                        <h:outputText id="labelPersonneCP" value="Code Postal"/> 
                    </td>
                    <td>
                        <h:inputText id="personneCP" value="#{personneBean.cpForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personneCP" errorClass="text-error"/>
                    </td>                
                    <td>
                        <h:outputText id="labelPersonneVille" value="Ville"/> 
                    </td>
                    <td>
                        <h:inputText id="personneVille" value="#{personneBean.villeForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personneVille" errorClass="text-error"/>
                    </td>
                </tr>
                <h:panelGroup id="datePers" >                 
                    <tr>
                        <td>
                            <h:outputText id="labelPersonneDateNaiss" value="Date de naissance"/> 
                        </td>
                        <td>
                            <h:inputText id="personneDateNaiss" value="#{personneBean.datenaissanceForm}" required="true" 
                                         requiredMessage="#{messages.required_value_error}" /> 

                            <h:message for="CreatPersonneForm:personneDateNaiss" errorClass="text-error"/>
                        </td>
                    </tr>
                </h:panelGroup>
                <tr>
                    <td>
                        <h:outputText id="labelPersonneLogin" value="Login Personne"/>
                    </td>
                    <td>
                        <h:inputText id="personneLogin" value="#{personneBean.loginForm}" required="true" 
                                     requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personneLogin" errorClass="text-error"/>
                    </td>
                    <td></td>
                    <td>
                        <h:outputText id="labelPersonnePassword" value="Password Personne"/> 
                    </td>
                    <td>
                        <h:inputSecret id="personnePassword" value="#{personneBean.passwordForm}" required="true" 
                                       requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personnePassword" errorClass="text-error"/>
                    </td>
                    <td>
                        <h:outputText id="labelPersonnePasswordConfirm" value="Confirmer password"/> 
                    </td>
                    <td>
                        <h:inputSecret id="personnePasswordConfirm" value="#{personneBean.passwordFormComfirm}"  required="true" 
                                       requiredMessage="#{messages.required_value_error}" /> 

                        <h:message for="CreatPersonneForm:personnePasswordConfirm" errorClass="text-error"/>
                    </td> 
                </tr>                
            </table>
            <h:inputHidden id="personneRetourOKForm" value="#{personneBean.personneRetourOKForm}"/>
            <h:commandButton id="addPers" value="#{messages.label_validate}" action="#{personneBean.addPersonne()}"/>
                        <h:commandLink action="#{personneBean.doDisconnect()}">
                Se déconnecter
            </h:commandLink>
        </h:form>
        <script type="text/javascript">
            var adm = document.getElementById("CreatPersonneForm:typePers:0");
            var ens = document.getElementById("CreatPersonneForm:typePers:1");            
            var etu = document.getElementById("CreatPersonneForm:typePers:2");
            var labelDateNaissance = document.getElementById("CreatPersonneForm:labelPersonneDateNaiss");
            var DateNaissance = document.getElementById("CreatPersonneForm:personneDateNaiss");
            
            labelDateNaissance.style.visibility='hidden';
            DateNaissance.style.visibility='hidden';
            
            adm.onclick = function(){                
                labelDateNaissance.style.visibility='hidden';
                DateNaissance.style.visibility='hidden';
            };
            ens.onclick = function(){                
                labelDateNaissance.style.visibility='hidden';
                DateNaissance.style.visibility='hidden';
            };
            
            etu.onclick = function(){                
                labelDateNaissance.style.visibility='visible';
                DateNaissance.style.visibility='visible';
            };  
             
            var boutonValider = document.getElementById("CreatPersonneForm:addPers");
                   
            boutonValider.onclick = function(){
                var passwordini = document.getElementById("CreatPersonneForm:personnePassword");
                var passwordConfirm = document.getElementById("CreatPersonneForm:personnePasswordConfirm");
                var testPass1="" + passwordini.value;
                var testPass2="" + passwordConfirm.value;
                
                alert("pass1:" + testPass1);
                alert("pass2:" + testPass2);
	
                if (testPass1===testPass2){
		
                    /*document.getElementById("divPasswordCrypte").innerHTML = chaine;*/	
                    document.getElementById("CreatPersonneForm:personneRetourOKForm").value=hex_sha1(hex_md5(passwordini));
                    alert(document.getElementById("CreatPersonneForm:personneRetourOKForm").value);
                }
                else{
                    alert("les mot de passe ne sont pas identiques");
                    passwordini.value="";
                    passwordConfirm.value="";
                }
            }

            function cryptagePandas(){
                var val=document.getElementById("CreatPersonneForm:passwordini").value;
                document.getElementById("CreatPersonneForm:passwordini").value=hex_sha1(hex_md5(val));
            }
        </script>
    </ui:define>
    <ui:define name="footer">
        Copyright Pandas
    </ui:define>    
</ui:composition>    