<ui:composition template="../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Liste des étudiants
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="listeEtudiantsTitle" value="Listes des Etudiants"/>
        </h2>

        <h:form id="listeEtudiants" rendered="#{!empty loginBean.loginForm}">

            <h:dataTable
                id="listeEtudiants" 
                var="etudiant" 
                value="#{listeBean.dataModel}" 
                styleClass="table table-striped table-bordered"
                columnClasses="col1,col2,col3,col4,col5,col6,col7">
                <h:column id="detailColumn">
                    <h:commandLink id="detailLink" value="Detail" actionListener="#{listeBean.updateSelected}"/>
                </h:column>
                <h:column id="nomColumn">
                    <f:facet name="header">
                        <h:outputText id="nomText" value="Nom"/>
                    </f:facet>
                    <h:outputText id="nomValue" value="#{etudiant.nom}"/>
                </h:column>
                <h:column id="prenomColumn">
                    <f:facet name="header">
                        <h:outputText id="prenomText" value="Prenom"/>
                    </f:facet>
                    <h:outputText id="prenomValue" value="#{etudiant.prenom}"/>
                </h:column>

                <h:column id="datenaissanceColumn">
                    <f:facet name="header">
                        <h:outputText id="datenaissanceText" value="DateNaissance"/>
                    </f:facet>
                    <h:outputText id="datenaissanceValue" value="#{etudiant.dateNaissance}">
                        <f:convertDateTime type="date" pattern="dd/MMMM/yyyy"/>
                    </h:outputText>
                </h:column>
                <h:column id="emailColumn">
                    <f:facet name="header">
                        <h:outputText id="emailText" value="Email"/>
                    </f:facet>
                    <h:outputText id="emailValue" value="#{etudiant.email}"/>
                </h:column>
                <h:column id="modifColumn">
                    <h:commandLink id="modifLink" value="Modifier" actionListener="#{listeBean.updateSelected}"/>
                </h:column>
                <h:column id="suppColumn">
                    <h:commandLink id="suppLink" value="Supprimer" actionListener="#{listeBean.suppEtudiant}"/>
                </h:column>
            </h:dataTable>
            
            
            
            
            <h:panelGroup rendered="#{!empty listeBean.selectedEtudiant}">
                <!--<h:form id="detailUserForm"> -->
                 <p> Nom :  #{listeBean.selectedEtudiant.nom}</p>
                <p> prenom :  #{listeBean.selectedEtudiant.prenom}</p>
                
            </h:panelGroup>
            <h:commandLink action="#{listeBean.doDisconnect()}">
                Se déconnecter
            </h:commandLink>
        </h:form>
    </ui:define>
    <ui:define name="footer">
        Copyright Pandas
    </ui:define>    
</ui:composition>    